<h2> Find someone </h2>
<p>
<%= link_to "Limit To Nearby Users", users_path(nearby: 20) %>

</p>

Users:
<div id='conversation'>
<% @users.each do |user| %>
	<li><b>
		<%= user.username %>
		<%= content_tag :span, user.last_sign_in_at.strftime("LAST ACTIVITY %h %d %R"), class: 'pull-right' %> 
		<%=link_to "Start Conversation", new_message_path(recipient_id: user) %>
		<%=button_to "Like", likes_path(likeable_id: user.id) %>

	</li>
<% end %>
</div>
