<h2> Find someone </h2>
<p>
<%= link_to 'Nearby Users', users_path(nearby: 20), class: 'btn btn-lg btn-primary' %>
</p>

Users:
<div id='conversation'>
<% @users.each do |user| %>
	<li><b>
		<span class="btn btn-warning btn-ss"><%= user.username %></span>
		<%= content_tag :span, user.last_activity, class: 'pull-right' %> 
		<%=link_to "Start Conversation", new_message_path(recipient_id: user), class: "btn btn-primary btn-ss" %>
		<p></p>
		<%= button_to "Like", likes_path(likeable_id: user.id), class: "btn btn-success" %>
		<p></p>
	</li>
<% end %>
</div>
